<% if user_signed_in? %>
 <div class="col-md-6 col-md-offset-3">
  <% @items.each do |item| %>
   <% if item.completed? %>
            <div class="jumbotron">
              <h2 style="opacity: 0.5;"><strike><%= link_to item.title, item %></strike></h2>
              <p style="opacity: 0.5;"><%= item.description %></p>
              <p>Completed <%= time_ago_in_words(item.completed_at) %> ago</p>
              <div class="row item">
                  <div class="col-md-2">
                    <div class="row item">
                      <p> <%= link_to  item,data: {turbo_method: :delete, turbo_confirm: 'Are you sure?', method: :delete} do %></p>
                        <i class="fa fa-lg fa-trash"></i>
                        <% end %>
                    </div>    
                  </div>     
              </div>       
   <% else %>
        <div class="jumbotron">
          <h2><%= link_to item.title, item %></h2>
          <p><%= item.description %></p>
          <p>Created <%= time_ago_in_words(item.created_at) %> ago</p>
          <div class="row item">
              <div class="col-md-2">
                  <p><%= link_to complete_item_path(item),data: { 'turbo-method': :patch }, method: :patch do %></p>
                    <i class="fa fa-lg fa-check"></i>
                  <% end %>
              </div>
              
              <div class="col-md-2">
                <div class="row item">
                  <p> <%= link_to edit_item_path(item)  do%></p>
                    <i class="fa fa-lg fa-edit"></i>
                  <% end %>
                </div>    
              </div>     
              <div class="col-md-2">
                <div class="row item">
                  <p> <%= link_to  item,data: {turbo_method: :delete, turbo_confirm: 'Are you sure?', method: :delete} do %></p>
                    <i class="fa fa-lg fa-trash"></i>
                    <% end %>
                </div>    
              </div>     
          </div>   
          <% end %>
        </div>
    <% end %>
    
 </div>
<% else %>
  <%= render 'partials/landingpage' %>
<% end %>



