        <div class="jumbotron">
            <h2><%= @item.title %></h2>
            <p><%= @item.description %></p>
            <% if @item.completed? %>
                <p style="opacity: 0.5;">Has already been completed</p>
            <% else %>
                <h5 style="opacity: 0.5;">Has not been completed yet!</h5>
            <% end %>
        </div>

            <%= link_to "Back", root_path, class: 'btn btn-secondary' %>
            <%= link_to "Edit", edit_item_path(@item), class: 'btn btn-secondary' %>
            <%= link_to 'Destroy', @item,data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} , class: 'btn btn-secondary'%>
